<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello!</title>
</head>
<body>
<form action="/" method="post">
    <div>
        <label for="startDate">Начальная дата</label>
        <input id="startDate" type="datetime-local" name="endDate">
    </div>
    <div>
        <label for="endDate">Конечная дата</label>
        <input id="endDate" type="datetime-local" name="startDate">
    </div>
    <div>
        <label for="warehouseId">ID склада</label>
        <input id="warehouseId" type="text" name="warehouseId">
    </div>
    <div>
        <label for="productId">ID товара</label>
        <input id="productId" type="text" name="productId">
    </div>
    <button>Отправить</button>
</form>
</body>
</html>